<% layout('layouts/boilerplate.ejs') %> 
<div id="cluster-map"></div>
<h1 class="text-center my-3">All Campgrounds</h1>

<% for(let i=campgrounds.length-1; i>=0; i--) { %> 
    <% let campground = campgrounds[i] %> 
    <div class="card mb-3">
        <div class="row"> 
            <div class="col-md-4">
                <% if(!campground.images.length) {%>
                    <img class="img-fluid" src="https://res.cloudinary.com/dphq3o0tm/image/upload/v1618345017/YelpCamp/sah5gram4kzribb6yhpg.jpg" alt="defaultImg">
                <% } %> 
                <img class="img-fluid" src="<%= campground.images[0].url %> " alt="">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title"><%=campground.title%></h5>
                    <p class="card-text"><%=campground.description%></p>
                    <p class="card-text">
                        <small class="text-muted"><%=campground.location%></small>
                    </p>
                    <a class="btn btn-primary" href="/campgrounds/<%=campground._id%>">View <%=campground.title%></a>
                </div>
            </div>
        </div>
    </div>
<% } %> 
<script>
    const map_token = '<%- process.env.MAPBOX_TOKEN %>'
    let campgrounds = {"features": <%- JSON.stringify(campgrounds) %>}
</script>
<script src="/js/clustermap.js"></script>